[flake8]
exclude =
    .git
    ,.github/run-clang-format.py
    ,third_party
    ,xformers/_flash_attn
max-line-length = 120
copyright-check = True
select = E,F,W,C
copyright-regexp=Copyright \(c\) Facebook, Inc. and its affiliates. All Rights Reserved
ignore=W503,E203
