[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/flash-attention"]
	path = third_party/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
