*~
*.swp

*.pyc
*.pyo
*.so

.mypy_cache/
*.egg-info/

build/
dist/

# for autocomplete
compile_commands.json

# Pytest verbose output
test-results/

# Coverage reports
.coverage
.coverage.*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/*
xformers/benchmarks/LRA/datasets
xformers/benchmarks/LRA/logs

my_runs.md

# Triton cache
.cache

# JetBrains PyCharm IDE
.idea/

# Pyre cache
.pyre/

# Watchman config files
.watchmanconfig

# examples demo files
examples/input.txt
examples/lightning_logs
examples/data

# Hydra default output dir
multirun
outputs

.benchmarks
xformers/_flash_attn
xformers/version.py
xformers/cpp_lib.json
