[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/flash-attention"]
	path = third_party/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "third_party/composable_kernel_tiled"]
    path = third_party/composable_kernel_tiled
    url = https://github.com/ROCmSoftwarePlatform/composable_kernel.git
    branch = develop
[submodule "third_party/sputnik"]
	path = third_party/sputnik
	url = https://github.com/google-research/sputnik.git
