include LICENSE
include requirements.txt
include version.txt
include third_party/flash-attention/version.txt

recursive-include xformers/csrc *
recursive-include third_party/sputnik *
recursive-include third_party/cutlass/include *
recursive-include third_party/cutlass/examples *
recursive-include third_party/flash-attention/csrc *
recursive-include third_party/flash-attention/flash_attn *

prune third_party/flash-attention/csrc/cutlass/docs/
prune third_party/flash-attention/csrc/cutlass/test/
prune third_party/flash-attention/csrc/cutlass/tools/
prune third_party/flash-attention/csrc/cutlass/media/
prune third_party/flash-attention/csrc/cutlass/python/
