# Get core deps.
-r requirements.txt


# Tools for static checking.
black==24.4.2
stdlibs==2024.1.28
ufmt==2.8.0
usort==1.0.8.post1
flake8 == 6.1.0
flake8-copyright
mypy == 1.10.0
pyre-check == 0.9.16
pyre-extensions == 0.0.29

# Tools for unit tests & coverage.
pytest == 7.2.0
pytest-cov == 2.10.0
pytest-timeout == 1.4.2
pytest-random-order == 1.1.1

# Dependency for Mixture of Experts
fairscale >= 0.4.5
scipy >= 1.7

# Dependency for fused layers, optional
cmake
